@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

/* Masonry */
.masonryContainer {
  margin: 0 auto; /* this is the css that keeps the container centered in page */
}

/* No-Style Links */
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* Hoverable Non-Links */
.hoverable {
  cursor: pointer;
}